{% extends 'base.html' %}
{% load static %}
{% block section %}
    <h2>{{ object.name }}</h2>
<hr>
    {% endblock section %}
    {% block maincontent %}
<div>
    <table border = "1px">
        <tr>
            {% for photo in object.photo_set.all %}
        <td>
        <div>{{ photo.title }}</div>
        <div>
            <a href="{% url 'photo-detail' photo.id %}">
                <img src="{% static photo.photo.url %}"
                style= "width:200px;height:200px"
                />
            </a>
        </div>
        </td>
        {% endfor %}
        </tr>
    </table>
</div>
{% endblock maincontent %}