
{% extends 'base.html' %}
{% block section %}
 <h2>Category</h2>
    <hr>
        {% endblock section %}
        {% block maincontent %}
         <div>
            <ul>
            {%for category in object_list%}
                <li> <a href="{% url 'category-detail' category.pk %}">
                    {{ category.name }}
                </a></li>
            {%endfor%}
            </ul>
        </div>
        {% endblock maincontent %}

