{% extends "base.html" %}
{% block maincontent %}
<form enctype="multipart/form-data" method="post">{% csrf_token %}
     {{ form.as_p }}
     <button type="submit">Save</button>
     <a class='btn' href="{% url 'photo_list' %}">Cancel</a>
</form>
{% endblock maincontent%} 